<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Schema" value="Article"/>

    <!-- Mail Configuration-->
    <add key="MessageBodyXslt" value="D:\tridion\config\templates\EmailNotifierXsltForEvent.xslt"/>
    <add key="MessageSubject" value="My Test Mail Subject"/>
    <add key="MailTo" value="saynatn.basu@ril.com, sunil.vudakala@ril.com"/>
    <add key="MailFrom" value="saynatn.basu@ril.com"/>
    <!-- End Mail Configuration-->

    <!-- SMTP Server Configuration-->
    <add key="MailServer" value="10.137.2.23"/>
    <add key="CredentialsID" value="saynatn.basu@ril.com"/>
    <add key="CredentialsPassword" value="nov@2015SA"/>
    <!--End SMTP Server Configuration-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="http://localhost:89/IWSTrust13/">
          <security>
            <message establishSecurityContext="false"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://reliance.sdlmedia.com/WebServices/MediaManager2011.svc"
        binding="ws2007FederationHttpBinding" bindingConfiguration="FederationEndpointHttps"
        contract="MMServiceReference.IMediaManager2011" name="FederationEndpointHttps" />-->
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
